.open-api-client-container {
  text-align: center;
  margin: 20px auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header {
  font-size: 48px;
}

.open-api-client-container button {
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 5px;
  font-size: 30px;
  min-width: 50px;
  cursor: pointer;
}
.open-api-client-textarea {
  width: 65%;
  min-height: 100px;
  padding: 20px;
  font-size: 20px;
  margin: 10px auto;
  border-radius: 5px;
}
.open-api-client-response {
  font-size: 20px;
  width: 65%;
  margin: auto;
  border-bottom: 1px solid;
  border-radius: 5px;
}
.open-api-client-response-info {
  margin: 20px auto;
  font-size: 12px;
  font-style: italic;
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 70%;
  margin: 20px auto;
}
.image-card {
  width: 30%;
  border-radius: 5px;
  display: block;
  margin: 10px;
  position: relative;
}

.download-text {
  display: block;
  z-index: 999;
  margin-top: -40px;
}
img {
  width: 100%;
}
.open-api-client-loading {
  font-size: xx-large;
}
